<button type="button" id="accordion-btn" class="accordion" [ngClass]="{'active': active}" (click)="openCloseAcc()">Options</button>
<div id="option-container" class="panel" [style.display]="display">
    <div id="min-max">
        <div>
            Min : <input type="number" id="min" placeholder="min" [value]="numberOptions.min" (input)="numberOptions.min=+getValue($event)">
        </div>
        <div>
            Max : <input type="number" id="max" placeholder="max" [value]="numberOptions.max" (input)="numberOptions.max=+getValue($event)">
        </div>
    </div>

    <div id="number">
        <div>Number : {{numberOptions.nb}}</div>
        <div id="number-slider-contaner">
            <input type="range" id="number-slider" class="slider" (input)="numberOptions.nb=+getValue($event)" min="1" [max]="numberOptions.max-numberOptions.min+1" [value]="numberOptions.nb" >
        </div>
    </div>

    <div id="norepeat">
        <div>No repeat : </div>
        <label id="norepeat-switch-container" class="switch-container">
            <input type="checkbox" (input)="numberOptions.noRepeat=!numberOptions.noRepeat" [value]="numberOptions.noRepeat" [checked]="numberOptions.noRepeat">
            <span class="switch round"></span>
        </label>
    </div>

    <div id="sort">
        <div>Sort : </div>
        <label id="sort-switch-container" class="switch-container">
            <input type="checkbox" (input)="numberOptions.sort=!numberOptions.sort" [value]="numberOptions.sort" [checked]="numberOptions.sort">
            <span class="switch round"></span>
        </label>
    </div>

    <div id="save">
        <button id="saveBtn" (click)="save()">Save</button>
    </div>
</div>

<div id="result">
    {{numbers.length !== 0 ? numbers : "Click 'Generate' button"}}
</div>

<button type="button" id="generate-btn" (click)="generateNumbers()">GENERATE</button>