<nav id="title-container">
    <span id="title">{{title}}</span>
</nav>

<div class="wrapper">
    <aside class="main_sidebar">
        <ul>
            <li id="menu-title">Menu</li>
            <li id="number-btn" class="el" [ngClass]="{'active': activeClass === 'Number'}">
                <a (click)="changeTab('Number')" routerLink="/number" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Number
                </a>
            </li>
            <li id="password-btn" class="el" [ngClass]="{'active': activeClass === 'Password'}">
                <a (click)="changeTab('Password')" routerLink="/password" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Password
                </a>
            </li>
            <li id="mixer-btn" class="el" [ngClass]="{'active': activeClass === 'Mixer'}">
                <a (click)="changeTab('Mixer')" routerLink="/mixer" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Mixer
                </a>
            </li>
            <li id="color-btn" class="el" [ngClass]="{'active': activeClass === 'Color'}">
                <a (click)="changeTab('Color')" routerLink="/color" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Color
                </a>
            </li>
            <li id="constant-btn" class="el" [ngClass]="{'active': activeClass === 'Constant'}">
                <a (click)="changeTab('Constant')" routerLink="/constant" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Constant
                </a>
            </li>
            <li id="date-btn" class="el" [ngClass]="{'active': activeClass === 'Date'}">
                <a (click)="changeTab('Date')" routerLink="/date" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Date
                </a>
            </li>
        </ul>
    </aside>
</div>