.accordion {
    background-color: rgb(255 255 255 / 22%);
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    overflow: hidden;
    max-height: 600px;
    transition: max-height 0.2s ease-out;
    position: relative;
}

#norepeatPassword {
    display: flex;
    height: 50px;
    background-color: rgb(188, 188, 188);
    align-items: center;
    padding: 0 25px;
}

#length {
    background-color: rgb(124, 124, 124);
    padding: 0 25px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#use-digits {
    display: flex;
    height: 50px;
    background-color: rgb(188, 188, 188);
    align-items: center;
    padding: 0 25px;
}

#use-spec-chars {
    display: flex;
    height: 50px;
    background-color: rgb(124, 124, 124);
    align-items: center;
    padding: 0 25px;
}

#only-digits {
    display: flex;
    height: 50px;
    background-color: rgb(188, 188, 188);
    align-items: center;
    padding: 0 25px;
}

#only-hexa {
    display: flex;
    height: 50px;
    background-color: rgb(124, 124, 124);
    align-items: center;
    padding: 0 25px;
}