<!-- <button type="button" id="accordion-btn" class="accordion" [ngClass]="{'active': active}" (click)="openCloseAcc()">Options</button> -->
<!-- <div id="option-container" class="panel" [style.display]="display"> -->

    <div id="norepeat">
        <div>No repeat : </div>
        <label id="norepeat-switch-container" class="switch-container">
            <!-- <input type="checkbox" (input)="numberOptions.noRepeat=!numberOptions.noRepeat" [value]="numberOptions.noRepeat" [checked]="numberOptions.noRepeat"> -->
            <span class="switch round"></span>
        </label>
    </div>

    <div id="length">
        <div>length : password.length</div>
        <div id="length-slider-contaner" class="slider-contaner">
            <!-- <input type="range" id="length" class="slider" (input)="passwordOptions.length=+getValue($event)" min="1" max="50" [value]="passwordOptions.length" > -->
        </div>
    </div>

    <div id="sort">
        <div>Sort : </div>
        <label id="sort-switch-container" class="switch-container">
            <!-- <input type="checkbox" (input)="numberOptions.sort=!numberOptions.sort" [value]="numberOptions.sort" [checked]="numberOptions.sort"> -->
            <span class="switch round"></span>
        </label>
    </div>

    <div class="save">
        <!-- <button class="saveBtn" (click)="save()">Save</button> -->
    </div>
<!-- </div> -->