<button type="button" class="accordion" [ngClass]="{'active': active}" (click)="openCloseAcc()">Options</button>
<div id="password-option-container" class="panel" [style.display]="display">

    <div id="norepeatPassword">
        <div>No repeat : </div>
        <label class="switch-container">
            <input type="checkbox" (input)="passwordOptions.noRepeat=!passwordOptions.noRepeat" [value]="passwordOptions.noRepeat" [checked]="passwordOptions.noRepeat">
            <span class="switch round"></span>
        </label>
    </div>

    <div id="length">
        <div>length : {{passwordOptions.lengthC}}</div>
        <div id="length-slider-contaner" class="slider-contaner">
            <input type="range" id="length-slider" class="slider" (input)="passwordOptions.lengthC=+getValue($event)" min="1" max="50" [value]="passwordOptions.lengthC" >
        </div>
    </div>

    <div id="use-digits">
        <div>Use digits : </div>
        <label id="useDigits-switch-container" class="switch-container">
            <input type="checkbox" (input)="passwordOptions.useDigits=!passwordOptions.useDigits" [value]="passwordOptions.useDigits" [checked]="passwordOptions.useDigits">
            <span class="switch round"></span>
        </label>
    </div>

    <div id="use-spec-chars">
        <div>Use spec chars : </div>
        <label id="useSpecChars-switch-container" class="switch-container">
            <input type="checkbox" (input)="passwordOptions.useSpecChars=!passwordOptions.useSpecChars" [value]="passwordOptions.useSpecChars" [checked]="passwordOptions.useSpecChars">
            <span class="switch round"></span>
        </label>
    </div>

    <div id="only-digits">
        <div>Only digits : </div>
        <label id="onlyDigits-switch-container" class="switch-container">
            <input type="checkbox" (input)="passwordOptions.onlyDigits=!passwordOptions.onlyDigits" [value]="passwordOptions.onlyDigits" [checked]="passwordOptions.onlyDigits">
            <span class="switch round"></span>
        </label>
    </div>

    <div id="only-hexa">
        <div>Only hexa : </div>
        <label id="onlyHexa-switch-container" class="switch-container">
            <input type="checkbox" (input)="passwordOptions.onlyHexa=!passwordOptions.onlyHexa" [value]="passwordOptions.onlyHexa" [checked]="passwordOptions.onlyHexa">
            <span class="switch round"></span>
        </label>
    </div>

    <div class="save">
        <button class="saveBtn" (click)="save()">Save</button>
    </div>
</div>